body {
    margin: 0;
}

.icon-r-edit:before {
    content: "" !important;
}

.icon-r-no:before {
    content: "" !important;
}

.icon-r-yes:before {
    content: "" !important;
}

.icon-r-delete:before {
    content: "" !important;
}

.icon-r-add:before {
    content: "" !important;
}