<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kmbeast.mapper.HealthModelConfigMapper">
<!--MyBatis内部使用了对象关系映射（ORM）技术，能够自动将数据库中的行记录转换为Java对象，并将这些对象放入集合中返回。-->
    <insert id="save">
        INSERT INTO health_model_config (user_id, name, detail, cover, unit, symbol, value_range)
        VALUES (#{userId}, #{name}, #{detail}, #{cover}, #{unit}, #{symbol}, #{valueRange})
    </insert>

    <update id="update">
        UPDATE health_model_config
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="detail != null and detail != ''">
                detail = #{detail},
            </if>
            <if test="cover != null and cover != ''">
                cover = #{cover},
            </if>
            <if test="unit != null and unit != ''">
                unit = #{unit},
            </if>
            <if test="symbol != null and symbol != ''">
                symbol = #{symbol},
            </if>
            <if test="valueRange != null and valueRange != ''">
                value_range = #{valueRange},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="batchDelete" parameterType="list">
        DELETE FROM health_model_config WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="queryAdmin" resultMap="BaseResultMap">

        SELECT h.*
        FROM health_model_config h
        <where>
            <if test="id != null">
                AND h.id = #{id}
            </if>
            <if test="name != null and name != ''">
                AND h.name LIKE concat('%',#{name},'%')
            </if>
            <if test="detail != null and detail != ''">
                AND h.detail LIKE concat('%',#{detail},'%')
            </if>
            <if test="unit != null and unit != ''">
                AND h.unit LIKE concat('%',#{unit},'%')
            </if>
            <if test="symbol != null and symbol != ''">
                AND h.symbol LIKE concat('%',#{symbol},'%')
            </if>
        </where>
        ORDER BY h.id DESC
        <if test="current != null and size != null">
            LIMIT #{current},#{size}
        </if>
    </select>

    <select id="query" resultMap="BaseResultMap">

        SELECT h.*
        FROM health_model_config h
        <where>
            <if test="id != null">
                AND h.id = #{id}
            </if>
            <if test="userId != null">
                AND (h.user_id = #{userId} OR h.user_id IS NULL)
            </if>
            <if test="name != null and name != ''">
                AND h.name LIKE concat('%',#{name},'%')
            </if>
            <if test="detail != null and detail != ''">
                AND h.detail LIKE concat('%',#{detail},'%')
            </if>
            <if test="unit != null and unit != ''">
                AND h.unit LIKE concat('%',#{unit},'%')
            </if>
            <if test="symbol != null and symbol != ''">
                AND h.symbol LIKE concat('%',#{symbol},'%')
            </if>
        </where>
        ORDER BY h.id DESC
        <if test="current != null and size != null">
            LIMIT #{current},#{size}
        </if>
    </select>

    <select id="queryCount" resultType="integer">

        SELECT COUNT(*)
        FROM health_model_config h
        <where>
            <if test="userId != null">
                AND h.user_id = #{userId}
            </if>
            <if test="name != null and name != ''">
                AND h.name LIKE concat('%',#{name},'%')
            </if>
            <if test="detail != null and detail != ''">
                AND h.detail LIKE concat('%',#{detail},'%')
            </if>
            <if test="unit != null and unit != ''">
                AND h.unit LIKE concat('%',#{unit},'%')
            </if>
            <if test="symbol != null and symbol != ''">
                AND h.symbol LIKE concat('%',#{symbol},'%')
            </if>
        </where>

    </select>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.kmbeast.pojo.entity.HealthModelConfig">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="name" property="name"/>
        <result column="detail" property="detail"/>
        <result column="cover" property="cover"/>
        <result column="unit" property="unit"/>
        <result column="symbol" property="symbol"/>
        <result column="value_range" property="valueRange"/>
    </resultMap>

</mapper>
